.timeline-item {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.timeline-item .timestamp {
  color: var(--light-grey);
}
.timeline-item .content .detail {
  background: white;
  display: inline-block;
  min-width: 280px;
  box-shadow: 4px 4px 10px -5px rgba(0, 0, 0, 0.05);
  padding: 0.9rem 1rem;
}
.timeline-item:nth-child(2n) .content {
  order: -1;
  text-align: right;
}
.timeline-item:nth-child(2n) .separator {
  order: 0;
}
.timeline-item:nth-child(2n) .timestamp {
  order: 1;
}
.timeline-item:nth-child(2n + 1) .timestamp {
  text-align: right;
}
.separator {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.separator .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--grey);
}
.separator .line {
  width: 2px;
  background: var(--light-grey);
  min-height: 30px;
}
.separator .line:first-child {
  border-radius: 0 0 2px 2px;
}
.separator .line:last-child {
  border-radius: 2px 2px 0 0;
}
.timeline-item:first-child .separator .dot {
  background: var(--light-blue);
}
.timeline-item:first-child .content .detail {
  background: var(--light-blue);
  color: white;
}
